{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
<nav class="navbar">
        <ul class="menu">
            <li>
                <a href="/"><img src="{% static 'icons/instagram.png' %}" class="instagram-icon" alt="icon"></a>
            </li>
            {% block menu %}{% endblock %}
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="" value="Выйти">
                    </form>
                </li>
                <li><a href="{% url 'profile' user.pk %}"><img class="profile-icon" src="{% static 'icons/profile.png' %}" alt="profile"></a></li>
            {% else %}
                 <li><a href="{% url 'login' %}?next={{ request.get_full_path }}" class="link-text">Войти</a></li>
                <li><a href="{% url 'register' %}?next={{ request.get_full_path }}" class="link-text">Зарегестрироваться</a></li>
            {% endif %}
        </ul>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>